# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.venv/
.mypy_cache/
.ruff_cache/
.pytest_cache/
*.egg

# Frontend
node_modules/
.next/
dist/
.env.local

# Env
.env
.env.*
!.env.example

# IDE
.idea/
*.swp
